/* Fonts */


@import url("https://use.typekit.net/yko3vii.css");

/* Basic */

* {
	margin: 0;
	padding: 0;
}

html,
body,
.Container {
	height: 100%;
	font-family: interstate, sans-serif;
	/* font-weight: 400; */
	font-style: normal;
}

body {
	background-color: #fff;
	line-height: 1.6;
}

.logo {
	/* width: 50%;
	height: 50%; */
	align-self: center;
}

.hook {
	color:#1A8A86;
	font-weight: 700;
	font-size: 22px;
}
.btn {
	border-radius: 0;
}

h2 {
	color:#1A8A86;
font-weight: 700;
font-style: normal;
font-size: 1.5rem;
}

a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: #000;
}

a:link.white,
a:hover.white,
a:visited.white {
	text-decoration: none;
	color: #fff;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 3.5rem;
}

p {
	color: #1A2C2C;
	font-size: 1.2rem;
}

.min-100 {
	min-height: 100%;
}


/* Spacing */

.no-gutter {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}


/* Navbar */

.navbar {
	position: absolute;
	margin-left: auto;
	z-index: 99999;
	top: 0;
	width: 100%;
	padding: 1.6rem 1rem;
	font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
	color: #2E5657;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #E97171;
	transition: color 0.25s linear;
}

.nav-item-2 {
	text-decoration: underline;
	/* background-color: #a1e7cf; */
	font-weight: 800;
}

.navbar a:link,
.navbar a:hover
 {
	text-decoration: none;
	text-transform: uppercase;
}

.navbar a:active {
	text-decoration: underline;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-brand {
	padding-top: 0;
}

.wrapper {
	margin: 0;
	width: 200px;
	height: 40px;
}

.menu-toggle {
	display: block;
	height: 40px;
	padding: 0;
	z-index: 1;
	background-color: transparent;
	border: 0 none;
	cursor: pointer;
	font-family: sans-serif;
	outline: medium none;
	overflow: visible;
	text-align: center;
	vertical-align: middle;
	height: 31px;
	width: 35px;
	right: 0px;
	top: 0;
	position: absolute;
}

.menu-toggle:before {
	content: attr(data-label);
	display: block;
	padding: 12px 0;
	position: absolute;
	right: 100%;
	top: 0;
	transition: color 0.2s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.menu--is-revealed .menu-toggle:before {
	opacity: 0;
	visibility: hidden;
}

.menu-toggle .icon-bars,
.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
	transition: background-color 0.2s ease;
}

.menu-toggle:focus .icon-bars,
.menu-toggle:focus .icon-bars:before,
.menu-toggle:focus .icon-bars:after,
.menu-toggle:hover .icon-bars,
.menu-toggle:hover .icon-bars:before,
.menu-toggle:hover .icon-bars:after {
	background-color: #000;
}

.menu-toggle .icon-bars {
	transition: transform 0.3s ease-in, background-color 0.2s ease;
	background-color: #000;
}

.menu-toggle .icon-bars:before,
.menu-toggle .icon-bars:after {
	transition: top 0.3s 0.3s ease-in, transform 0.3s ease-in, background-color 0.2s ease;
	background-color: #000;
}

.menu-toggle:active .icon-bars,
.menu--is-revealed .menu-toggle .icon-bars {
	transition: transform 0.3s 0.2s ease-in, background-color 0.2s ease;
	transform: rotate3d(0, 0, 1, 135deg);
}

.menu-toggle:active .icon-bars:before,
.menu-toggle:active .icon-bars:after,
.menu--is-revealed .menu-toggle .icon-bars:before,
.menu--is-revealed .menu-toggle .icon-bars:after {
	transition: top 0.2s ease-in, transform 0.3s 0.2s ease-in, background-color 0.2s ease;
	transform: rotate3d(0, 0, 1, 90deg);
	top: 0;
}

.menu--is-revealed .menu-toggle {
	position: fixed;
	top: 31px;
	right: 22px;
}

.nav-item {
	font-size: 1rem;
}

.icon-bars {
	position: relative;
}

.icon-bars,
.icon-bars:before,
.icon-bars:after {
	display: block;
	width: 32px;
	height: 2px;
	background-color: currentColor;
}

.icon-bars,
.icon-bars:before,
.icon-bars:after {
	background-color: #273138;
}

.icon-bars:before,
.icon-bars:after {
	content: "";
	position: absolute;
	left: 0;
}

.icon-bars:before {
	top: 0.5em;
}

.icon-bars:after {
	top: -0.5em;
}

@media (min-width: 990px) {
	.navbar-brand {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		/**optional offset from top**/
		max-height: 40px;
	}
}

@media screen and (min-width:768px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 100%;
		text-align: center;
	}
	.navbar>.container .navbar-brand-centered,
	.navbar>.container-fluid .navbar-brand-centered {
		margin-left: -50%;
	}
}

.navbar-toggler-icon {
	top: 15px;
	right: 0px;
	position: absolute;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: rgb(0, 0, 0);
	z-index: 9999;
}

@media screen and (max-width:991px) {
	.navbar-collapse {
		height: 100vh;
		background-color: #fff;
		top: 0;
		left: 0;
		width: 100%;
		position: fixed;
	}
	.navbar-nav {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 30%;
		width: 50%;
		margin: -15% 0 0 -25%;
	}
}

.navbar-toggler {
	height: 30px;
	width: 21px;
	position: absolute;
	right: 22px;
}

@media (min-width: 992px) {
	#social {
		display: none;
	}
}

@media (max-width: 991px) {
	#social {
		border-top: 1px solid #000;
		position: absolute;
		bottom: 0;
		width: 90%;
		margin: 5%;
	}
	#social p {
		font-size: 0.9rem;
		padding-top: 1rem;
	}
}


/* Half Page */

.Container:before {
	content: '';
	height: 100%;
	float: left;
}

.Content {
	position: relative;
	z-index: 1;
}

.Content:after {
	content: '';
	clear: both;
	display: block;
}

.Wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #fff;
}

.LeftContent {
	float: left;
	margin: 0;
	padding: 0;
}

.RightContent {
	overflow: auto;
}

@media (min-width: 1200px) {
	.Wrapper>div {
		height: 100%;
	}
}

.split-image-left {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.web-sections-container {
	color:#2E5657;
	background-color:#E1FFF9;
	padding: 3em;
	margin: 1em 0em;
}
.web-sections-container li {
	padding: 0.4em;
}


.background-1 {
	background-image: url("../img/cool.jpg");
}

.link {
	text-decoration: underline;
	color:#60C6BF;
	font-weight: 600;
	cursor: pointer;
}

.link:hover {
	color:#E97171;
	transition: color 0.25s linear;
}
.background-2 {
	background-image: url("../img/peeps2.jpg");
}
.background-3 {
	background-image: url("../img/peachy-inclusivity-team3.jpg");
}
.split-image-right {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.signature {
	padding-top: 2rem;
	height: 6rem;
}

.web-sections li {
	color:#2E5657;
	list-style-type: none;
	font-weight: 600;
}

.web-sections {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-gap: 20px;
	padding: 20px 0px
}

.web-sections-2 {
	list-style: none;
}

.web-sections-2 li {
	padding: 0.5em 0em;
	color:#2E5657;
}

.process-section-wrap {
	padding: 1.3em;
}
.process-sections {
	padding: 0.8em 0em;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
	border-bottom: 1.2px solid #1A8A86;
    margin: 1em 0;
    padding: 0;
}

.text-highlight {
	color:#E97171;
	font-weight: 600;
}
.img-caption {
	color:#1A8A86;
	font-size: 1em;
	padding: 1em;
	font-style: italic;
}
.feedback-highlights li {
	list-style-type: square;
}
/* Works - Horizontal Gallery */

.swiper-container {
	width: 100%;
	height: 100%;
	margin-bottom: 5rem;
}

.about-me a {
	text-decoration: underline;
	color:#60C6BF;
	font-weight: 600;
}

.about-me a:hover, .fa-instagram:hover, .fa-spotify:hover {
	color:#E97171;
	transition: color 0.25s linear;
}
.about-me {
	font-size: 1.1em;
}
.about-me-w {
	padding: 2em 0em;
}
.about-me-w h2 {
	color:#2E5657;
}

.fa-instagram, .fa-spotify {
color:#2E5657;
}


h3 {
	font-size: 1.2em;
	color:#32CCC1;
	font-weight: 600;
	padding: 0;
	margin: 0.6em 0em;
}

@media (max-width: 1200px) {
	.swiper-container {
		padding: 0 20px 0;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
}

 :root {
	--swiper-theme-color: #1A8A86;
	
}

.swiper-pagination {
	display: none;
}

.feedback-highlights li {
	padding: 0.5em;
	text-decoration: none;
	list-style: square;
}

/* deliverable */

.del {
	font-size: 1.2em;
	padding-top: 14rem;
	padding-bottom: 3rem;
}



